.camera {
  padding: 65px 0 0;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(#0140aa), to(#fe007b));
  background-image: -webkit-linear-gradient(left, #0140aa 0%, #fe007b 100%);
  background-image: -o-linear-gradient(left, #0140aa 0%, #fe007b 100%);
  background-image: linear-gradient(to right, #0140aa 0%, #fe007b 100%); }
.camera h2 {
  color: #ffffff;
  font-family: 'SFUIDisplay-Bold', sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin: 0 0 75px 50px; }
@media (min-width: 100px) and (max-width: 768px) {
  .camera h2 {
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 35px 40px; } }
@media (min-width: 100px) and (max-width: 667px) {
  .camera h2 {
    margin: 0 0 20px 40px; } }
@media (min-width: 100px) and (max-width: 480px) {
  .camera h2 {
    margin: 0 auto 20px;
    font-size: 30px;
    text-align: center; } }
.camera p {
  margin: 0 50px 30px;
  color: #ffffff;
  font-family: 'SFUIDisplay-Regular', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.45px; }
.camera p span {
  font-size: 18px;
  color: #ffffff;
  font-family: 'SFUIDisplay-Bold', sans-serif;
  letter-spacing: 0.45px;
  font-weight: 700; }
@media (min-width: 100px) and (max-width: 768px) {
  .camera p span {
    font-size: 16px;
    line-height: 20px; } }
@media (min-width: 100px) and (max-width: 480px) {
  .camera p span {
    margin: 0 0 30px;
    text-align: justify;
    font-size: 14px;
    line-height: 21px; } }
@media (min-width: 100px) and (max-width: 768px) {
  .camera p {
    font-size: 16px;
    line-height: 20px; } }
@media (min-width: 100px) and (max-width: 480px) {
  .camera p {
    margin: 0 0 30px;
    text-align: justify;
    font-size: 14px;
    line-height: 21px; } }
.camera img {
  width: 99.9%;
  display: block;
  margin: 0 auto;
  height: 249px; }
@media (min-width: 100px) and (max-width: 845px) {
  .camera img {
    height: 190px; } }
@media (min-width: 100px) and (max-width: 768px) {
  .camera img {
    height: 165px; } }
@media (min-width: 100px) and (max-width: 667px) {
  .camera img {
    height: 130px; } }
@media (min-width: 100px) and (max-width: 568px) {
  .camera img {
    height: 110px; } }
@media (min-width: 100px) and (max-width: 480px) {
  .camera img {
    width: 90%;
    height: 83px; } }
@media (min-width: 100px) and (max-width: 667px) {
  .camera {
    padding: 45px 0 0; } }
