.screen {
  padding: 75px 0 0;
  background: url("../img/screen/bg-for-screen.png") no-repeat 100% 100%;
  -webkit-background-size: cover;
  background-size: cover; }
.screen .flex-ct .column-for-img {
  width: 50%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }
.screen .flex-ct .column-for-img img {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  display: block;
  width: 429px;
  margin: 0 auto;
  height: 550px; }
@media (min-width: 100px) and (max-width: 768px) {
  .screen .flex-ct .column-for-img img {
    width: 365px;
    height: 485px; } }
@media (min-width: 100px) and (max-width: 667px) {
  .screen .flex-ct .column-for-img img {
    width: 100%;
    height: 280px; } }
@media (min-width: 100px) and (max-width: 568px) {
  .screen .flex-ct .column-for-img img {
    height: 245px; } }
@media (min-width: 100px) and (max-width: 480px) {
  .screen .flex-ct .column-for-img img {
    width: 281px;
    height: 359px; } }
@media (min-width: 100px) and (max-width: 667px) {
  .screen .flex-ct .column-for-img {
    width: 35%; } }
@media (min-width: 100px) and (max-width: 480px) {
  .screen .flex-ct .column-for-img {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; } }
.screen .flex-ct .screen_description {
  width: 50%;
  padding: 30px 40px 0 0; }
.screen .flex-ct .screen_description h2 {
  color: #000000;
  font-family: 'SFUIDisplay-Bold', sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin: 0 0 80px; }
@media (min-width: 100px) and (max-width: 768px) {
  .screen .flex-ct .screen_description h2 {
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 50px; } }
@media (min-width: 100px) and (max-width: 667px) {
  .screen .flex-ct .screen_description h2 {
    margin: 0 0 20px; } }
@media (min-width: 100px) and (max-width: 480px) {
  .screen .flex-ct .screen_description h2 {
    text-align: center;
    font-size: 30px;
    margin: 0 0 40px; } }
.screen .flex-ct .screen_description p {
  color: #000000;
  font-family: 'SFUIDisplay-Regular', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.45px; }
.screen .flex-ct .screen_description p span {
  font-size: 18px;
  color: #000000;
  font-family: 'SFUIDisplay-Bold', sans-serif;
  letter-spacing: 0.45px;
  font-weight: 700; }
@media (min-width: 100px) and (max-width: 768px) {
  .screen .flex-ct .screen_description p span {
    font-size: 16px;
    line-height: 20px; } }
@media (min-width: 100px) and (max-width: 480px) {
  .screen .flex-ct .screen_description p span {
    font-size: 14px;
    text-align: justify; } }
@media (min-width: 100px) and (max-width: 768px) {
  .screen .flex-ct .screen_description p {
    font-size: 16px;
    line-height: 20px; } }
@media (min-width: 100px) and (max-width: 480px) {
  .screen .flex-ct .screen_description p {
    font-size: 14px;
    text-align: justify; } }
@media (min-width: 100px) and (max-width: 667px) {
  .screen .flex-ct .screen_description {
    width: 55%;
    padding: 30px 40px 35px 0; } }
@media (min-width: 100px) and (max-width: 480px) {
  .screen .flex-ct .screen_description {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    padding: 30px 0 0;
    margin: 0 0 30px; } }
@media (min-width: 100px) and (max-width: 480px) {
  .screen .flex-ct {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }
@media (min-width: 100px) and (max-width: 667px) {
  .screen {
    padding: 15px 0 0; } }
